
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}
.d{
margin-left: 30px;
margin-top: 10px;
margin-bottom: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  margin-top: 2rem;
}

div {
  color: #727272;
  text-align: center;
  font-size: 1.6rem;
}

h1 {
  margin: 16px;
  font-size: 8rem;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 2s linear;
  position: relative;
}

p,
a {
  font-size: 1.8rem;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
}

.btn {
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  background: linear-gradient(135deg, #7f6de3 0%, #11aaf1 100%);
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  margin: 3rem 0;
  background: #f9f9f9;
  padding: 1rem 0;
}
nav .menuItems {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .menuItems li {
  margin: 1.6rem 5rem;
}
nav .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: blueviolet;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 998px) {
  nav .menuItems li {
    margin: 0.6rem 5rem;
  }
}



.content ul {
  list-style-type: none !important;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
}

.admin-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4rem 0;
}

.admin-subtitle {
  font-size: 3.2rem;
}

.delete-btn {
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  background: linear-gradient(135deg, rgb(247, 60, 60) 0%, rgb(252, 252, 93) 100%);

}
.del-btn {
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  background: linear-gradient(135deg, rgb(247, 60, 132) 0%, rgb(226, 186, 228) 100%);

}

.delete-icon {
  font-size: 2.6rem;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(255 0 0 / 0.2));
  cursor: pointer;
}
@media screen and (max-width: 998px) {
  .admin-subtitle {
    margin-bottom: 1.6rem;
  }
}
